body {
    min-height: 100vh;
    background: linear-gradient(to right, purple, black);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

div{
    height: 150px;
    width: 100px;
    background-color: #fff;
    border-radius: 10px;
    font-family: monospace;
    font-size: 10px;
    padding-top: 50px;
    padding: 15px;
}

div:hover {
    transform: scale(1.05);
    transition: .6s;
}
